
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CusLayout.cshtml";
    var listDetail = (List<invoice_detail>)ViewBag.listDetails;
}

@using CellPhoneX.Models
<link href="~/Content/body.css" rel="stylesheet" />
<link href="~/Content/member.css" rel="stylesheet" />
<section class="cps-section">
    <div class="cps-container">
        <div class="cps-left-col">
            <div class="block-menu">
                <div class="block-menu__item-menu">
                    <a href="@Url.Action("Cus","Home")">
                        <div class="box-icon">

                        </div>
                        <p>Thông tin</p>
                    </a>
                </div>
                <div class="block-menu__item-menu">
                    <a href="@Url.Action("History","Home")">
                        <div class="box-icon">

                        </div>
                        <p>Lịch sử mua hàng</p>
                    </a>
                </div>
                <div class="block-menu__item-menu">
                    <a href="@Url.Action("Logout","User")">
                        <div class="box-icon">

                        </div>
                        <p>Đăng xuất</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="cps-right-col">
            <div class="content">
                <table class="table">
                    <tr>
                        <th> Mã Sản phẩm </th>
                        <th> Số lượng</th>
                        <th> Giá</th>
                        <th> Thành Tiền</th>

                        <th></th>
                    </tr>

                    @foreach (var item in listDetail)
                    {
                        <tr>
                            <td>@item.version_id</td>
                            <td>@item.amount</td>
                            <td>@item.price</td>
                            <td id="total">@(item.price * item.amount) </td>
                        </tr>
                     }
                    <tr>
                        <td >
                            Tổng tiền:
                        </td>
                    </tr>

                       

                    </table>
            </div>
        </div>
    </div>

</section>
