<link href="~/Content/header.css" type="text/css" rel="stylesheet" />

@*<div class="header">
        <div class="navbar navbar-fixed-top" >
            <div class="container">
                <div class="navbar-header" style="background-color: #d70018; color: white">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="~/Home/Index">
                        <img src="~/Content/images/logo.png" style="width:100%; height:100%"/>
                    </a>
                </div>
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Bạn cần tìm gì ..." aria-label="Search" aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>*@
<div class="header">
    <section id="menu">

        <div class="logo">
            <img src="~/Content/images/logo.png" />
        </div>

        <div class="search-bar">
            <i class="fa fa-search"></i>
            <input type="search" class="form-control" placeholder="Bạn cần tìm gì?">
        </div>

        <div class="navbar-menu">
            <ul>
                <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                <li>@Html.ActionLink("Sản phẩm", "About", "Home")</li>
                <li>@Html.ActionLink("Tài khoản", "Contact", "Home")</li>
            </ul>
        </div>
    </section>
</div>

<script>
    $('#search-bar').change(function () {

    })
</script>
