@model IEnumerable<CellPhoneX.Models.color>
@{
    ViewBag.Title = "Color";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Màu sắc</h2>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@Html.ActionLink("Tạo mới", "CreateColor", "Admin")</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="text-align:center">
                <thead>
                    <tr>
                        <th>Mã thương hiệu</th>
                        <th>Tên thương hiệu</th>
                        <th>Mô tả</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.color_id)</td>
                            <td>@Html.DisplayFor(modelItem => item.color_name)</td>
                            <td>@Html.DisplayFor(modelItem => item.description)</td>                   
                            <td>
                                @if (item.active_status == null || item.active_status == true)
                                {
                                    @Html.DisplayName("Đang sử dụng");
                                }
                                else
                                {
                                    @Html.DisplayName("Ngừng sử dụng");
                                }
                            </td>
                            <td>
                                @if (item.active_status == null || item.active_status == true)
                                {
                                    <a class="btn btn-primary" href="@Url.Action("EditColor","Admin", new { id = item.color_id})" style="text-decoration:none; color:white">Sửa</a>

                                    <a class="btn btn-danger" href="@Url.Action("DeleteColor","Admin", new { id = item.color_id})" style="text-decoration:none; color:white">
                                        Xóa
                                    </a>
                                }                               

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>    
</div>

