@model CellPhoneX.Models.color

@{
    ViewBag.Title = "Xác nhận xóa màu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 style="margin-bottom: 2rem">Bạn chắc chắn muốn xóa @Model.color_name ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Màu")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color_name)
        </dd>
        <hr />

        <dt>
            @Html.DisplayName("Mô tả")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <hr />
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <a class="btn btn-primary" href="@Url.Action("Color","Admin")"><   Quay lại</a>
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
<style>
    .container-fluid {
        padding: 0 15rem 0 18rem;
    }
</style>