@model IEnumerable<CellPhoneX.Models.employee>
@{
    ViewBag.Title = "Quản lý nhân viên";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Quản lý nhân viên</h2>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@Html.ActionLink("Tạo mới", "CreateEmployee", "Admin")</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="text-align:center">
                <thead>
                    <tr>
                        <th>Mã nhân viên</th>
                        <th>Họ tên</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        <th>E-Mail</th>
                        <th>Số điện thoại</th>
                        <th>Mã tài khoản</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.employee_id)</td>
                        <td>@Html.DisplayFor(modelItem => item.name)</td>
                        <td>@String.Format("{0:dd-MM-yyyy}", item.date_of_birth)</td>
                        <td>@Html.DisplayFor(modelItem => item.sex)</td>
                        <td>@Html.DisplayFor(modelItem => item.mail)</td>
                        <td>@Html.DisplayFor(modelItem => item.phone_number)</td>
                        <td>@Html.DisplayFor(modelItem => item.account_id)</td>
                        <td>
                            @if (item.active_status == null || item.active_status == true)
                            {
                                @Html.DisplayName("Kích hoạt");
                            }
                            else
                            {
                                @Html.DisplayName("Vô hiệu hóa");
                            }
                        </td>
                        <td>
                            <a class="btn btn-info" href="@Url.Action("DetailEmployee","Admin", new { id = item.employee_id})" style="text-decoration:none; color:white">Chi tiết</a>
                            @if (item.active_status == null || item.active_status == true)
                            {
                                <a class="btn btn-primary" href="@Url.Action("EditEmployee","Admin", new { id = item.employee_id})" style="text-decoration:none; color:white">Sửa</a>

                                <a class="btn btn-danger" href="@Url.Action("DeleteEmployee","Admin", new { id = item.employee_id})" style="text-decoration:none; color:white">Xóa</a>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

