@model CellPhoneX.Models.product_version
@{ ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listI = (List<product_version>)ViewBag.listProDetail;
    var listI2 = (List<customer_comment>)ViewBag.listCom;
    var listI3 = (List<product_version>)ViewBag.listSl;
    }
@using CellPhoneX.Models
<link href="~/Content/DetailProduct.css" rel="stylesheet" />
<link href="~/Content/body.css" rel="stylesheet" />
<section class="cps-section">
    <div class="block-detail-product block-detail" data-idDetail="@Model.version_id">
        <div class="detail-product__box-name">
            <div class="cps-container">

                <div class="box-name__box-product-name">
                    <h1>
                        @Model.product.product_name
                    </h1>
                </div>
            </div>
        </div>
        <div class="box-detail-product cps-container detailProduct" data-idPro="@Model.version_id">
            <div class="detail-product__box-left">
                <div class="box-gallery">
                    <div class="swiper-container gallery-main swiper-container-initialized swiper-container-horizontal">
                        @*<img src="~/Content/images/@Model.image" />*@
                        <div id="product-mob-images" class="swiper-wrapper">
                            @foreach (var item in listI)
                            {
                                <div class="swiper-slide item-gallery swiper-slide-duplicate" data-swiper-slide-index="26" style="width: 400px; margin-right: 20px;">
                                    <img class="swiper-lazy swiper-lazy-loaded" alt="" title="" src="~/Content/images/@item.image">
                                </div>}


                        </div>
                        <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide">
                            <i class="fa fa-chevron-left"></i>
                        </div>
                        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide">
                            <i class="fa fa-chevron-right"></i>
                        </div>
                    </div>
                    <div class="swiper-container gallery-thumbs swiper-container-initialized swiper-container-horizontal swiper-container-free-mode swiper-container-thumbs">
                        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">

                            @foreach (var itim in listI)
                            {
                                <div class="swiper-slide item-thumb main-thumb disable swiper-slide-visible" style="margin-right: 10px;" onclick="currentSlide(@listI.IndexOf(itim))">
                                    <img class="swiper-lazy swiper-lazy-loaded" src="~/Content/images/@itim.image">
                                </div>}


                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-product__box-center">
                <div class="box-info">
                    <div class="box-info__box-price">
                        <p class="special-price">@String.Format("{0:0,0}", Model.special_price) đ </p>
                        <p class="old-price">@String.Format("{0:0,0}", Model.price) đ </p>
                    </div>
                </div>
                <div class="box-linked">

                    <div class="list-linked">
                        @foreach (var item in listI)
                        {
                            <a href="@Url.Action("Detail","Product", new {id = item.version_id })" class="item-linked linked-1">
                                <strong>@item.memory_internal </strong>
                                <span>@item.special_price</span>

                            </a>}
                    </div>

                </div>
                <div class="product-options">
                    <div class="last">
                        <div class="box-product-option">
                            <div class="box-title">
                                <p class="box-title__title">Chọn màu để xem giá và chi nhánh có hàng</p>
                            </div>
                            <div class="box-content">
                                @*lay list để truyền các màu có cùng id product*@
                                <ul class="list-colors">
                                    @foreach (var itm in listI)
                                    {
                                        <li class="item-color" data-id="@itm.version_id">
                                            <a href="@Url.Action("Detail","Product", new { id = itm.version_id })" class="swatch-link ">
                                                <img src="~/Content/images/@itm.image" class="cpslazy loaded" />
                                                <p>
                                                    <strong>@itm.color.color_name</strong>
                                                    <span>@itm.special_price</span>
                                                </p>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                @foreach (var item in listI3)
                {
                    if (item.amount != 0)
                    {

                        <div class="box-action-button">
                            <a class="action-button button-red cta-mua-ngay" href="">
                                <strong>
                                    MUA
                                    NGAY
                                </strong><span>(Giao tận nơi hoặc lấy tại cửa hàng)</span>
                            </a>
                        </div>
                    }

                }



                <div class="box-details">
                    <div class="box-title">
                        <div style="text-align: center; background: navajowhite" class="box-title__title">
                            <p style="margin-top: 4px">Chi tiết</p>
                        </div>

                    </div>
                    <div class="box-content" style="margin-left:10px">
                        <p>Màn hình: @Model.product.spec.display_size</p>
                        <p>Cấu hình: @Model.product.spec.display_type</p>
                        <p>Thông số: @Model.product.spec.display_feature</p>
                        <p>Độ phân giải: @Model.product.spec.display_resolution</p>
                        <p>Camera: @Model.product.spec.main_camera - @Model.product.spec.main_camera_video</p>
                        <button style="border-radius: 4px; background: navajowhite" data-target="#Modaldetails" data-toggle="modal">Chi tiết</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*thong so kỹ thuật*@
    <div class="modal fade" id="Modaldetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Thông số kỹ thuật</h4>
                    <button type="button" class="close" data-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path id="cross" d="M11.89,9.64h0L8.249,6l3.64-3.64h0a.376.376,0,0,0,0-.53L10.17.109a.376.376,0,0,0-.53,0h0L6,3.749,2.359.109h0a.376.376,0,0,0-.53,0L.109,1.829a.376.376,0,0,0,0,.53h0L3.75,6,.109,9.64h0a.38.38,0,0,0-.086.134.374.374,0,0,0,.086.4l1.72,1.72a.376.376,0,0,0,.53,0h0L6,8.249l3.64,3.64h0a.376.376,0,0,0,.53,0l1.72-1.72a.376.376,0,0,0,0-.53Z" transform="translate(0 0)" fill="#fff"></path></svg>&nbsp;Đóng</button>
                </div>
                <div class="modal-body">
                    <div class="box-table">
                        <div class="item-box-table Màn hình">
                            <div class="box-title"><p class="box-title__title">Màn hình</p></div>
                            <div class="box-content">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>Kích thước màn hình</th>
                                            <th>@Model.product.spec.display_size</th>
                                        </tr>
                                        <tr>
                                            <th>Công nghệ màn hình</th>
                                            <th>@Model.product.spec.display_type</th>
                                        </tr>
                                        <tr>
                                            <th>Độ phân giải màn hình</th>
                                            <th>@Model.product.spec.display_resolution</th>
                                        </tr>
                                        <tr>
                                            <th>Tính năng màn hình</th>
                                            <th>@Model.product.spec.display_feature</th>
                                        </tr>
                                        <tr>
                                            <th>Tần số quét</th>
                                            <th>@Model.product.spec.display_feature</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr />
                        <div class="item-box-table Camera sau">
                            <div class="box-title"><p class="box-title__title">Camera sau</p></div>
                            <div class="box-content">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>Camera sau</th>
                                            <th>@Model.product.spec.main_camera</th>
                                        </tr>
                                        <tr>
                                            <th>Quay video</th>
                                            <th>@Model.product.spec.main_camera_video</th>
                                        </tr>
                                        <tr>
                                            <th>Tính năng camera</th>
                                            <th>@Model.product.spec.camera_feature</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr />
                        <div class="item-box-table Camera trước">
                            <div class="box-title"><p class="box-title__title">Camera trước</p></div>
                            <div class="box-content">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>Camera trước</th>
                                            <th>@Model.product.spec.selfie_camera</th>
                                        </tr>
                                        <tr>
                                            <th>Quay video trước</th>
                                            <th>@Model.product.spec.main_camera_video</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr />
                        <div class="item-box-table Vi xử lý &amp; đồ họa">
                            <div class="box-title"><p class="box-title__title">Vi xử lý &amp; đồ họa</p></div>
                            <div class="box-content">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>Chipset</th>
                                            <th>@Model.product.spec.platform_chipset</th>
                                        </tr>
                                        <tr>
                                            <th>Loại CPU</th>
                                            <th>@Model.product.spec.platform_cpu</th>
                                        </tr>
                                        <tr>
                                            <th>GPU</th>
                                            <th>@Model.product.spec.platform_gpu</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr />
                        <div class="item-box-table RAM &amp; lưu trữ">
                            <div class="box-title"><p class="box-title__title">RAM &amp; lưu trữ</p></div>
                            <div class="box-content">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>Dung lượng RAM</th>
                                            <th>@Model.memory_ram</th>
                                        </tr>
                                        <tr>
                                            <th>Bộ nhớ trong</th>
                                            <th>@Model.memory_internal</th>
                                        </tr>
                                        <tr>
                                            <th>Khe cắm thẻ nhớ</th>
                                            <th>@Model.product.spec.comms_sound_jack</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr />
                        <div class="item-box-table Thông số kỹ thuật">
                            <div class="box-title"><p class="box-title__title">Thông số kỹ thuật</p></div>
                            <div class="box-content">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>Pin</th>
                                            <th>@Model.product.spec.battery_charging</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr />
                        <div class="item-box-table Giao tiếp &amp; kết nối">
                            <div class="box-title"><p class="box-title__title">Giao tiếp &amp; kết nối</p></div>
                            <div class="box-content">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>Thẻ SIM</th>
                                            <th>@Model.product.spec.body_sim</th>
                                        </tr>
                                        <tr>
                                            <th>Hệ điều hành</th>
                                            <th>@Model.product.spec.platform_os</th>
                                        </tr>

                                        <tr>
                                            <th>Jack tai nghe 3.5</th>
                                            <th>@Model.product.spec.comms_sound_jack</th>
                                        </tr>

                                        <tr>
                                            <th>Wi-Fi</th>
                                            <th>@Model.product.spec.comms_wlan</th>
                                        </tr>
                                        <tr>
                                            <th>Bluetooth</th>
                                            <th>@Model.product.spec.comms_bluetooth</th>
                                        </tr>
                                        <tr>
                                            <th>GPS</th>
                                            <th>@Model.product.spec.comms_gps</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr />
                        <div class="item-box-table Thiết kế &amp; Trọng lượng">
                            <div class="box-title"><p class="box-title__title">Thiết kế &amp; Trọng lượng</p></div>
                            <div class="box-content">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>Kích thước</th>
                                            <th>@Model.product.spec.body_size</th>
                                        </tr>
                                        <tr>
                                            <th>Trọng lượng</th>
                                            <th>@Model.product.spec.body_weight</th>
                                        </tr>
                                        <tr>
                                            <th>Chất liệu </th>
                                            <th>@Model.product.spec.body_build</th>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr />
                        <div class="item-box-table Pin &amp; công nghệ sạc">
                            <div class="box-title"><p class="box-title__title">Pin &amp; công nghệ sạc</p></div>
                            <div class="box-content">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>Công nghệ sạc</th>
                                            <th>@Model.product.spec.battery_charging</th>
                                        </tr>
                                        <tr>
                                            <th>Cổng sạc</th>
                                            <th>@Model.product.spec.comms_usb</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr />
                        <div class="item-box-table Tiện ích khác">
                            <div class="box-title"><p class="box-title__title">Tiện ích khác</p></div>
                            <div class="box-content">
                                <table>
                                    <tbody>

                                        <tr>
                                            <th>Các loại cảm biến</th>
                                            <th>@Model.product.spec.feature_special</th>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn-close" data-dismiss="modal">Đóng</a>
                </div>

            </div>
        </div>
    </div>
   




    @*danhgia*@
    <div style="padding:3rem">
        <div class="ant-row" style="margin-top:1rem;row-gap:0px">
            <div align="start" class="ant-col ant-col-18 ant-col-xs-24 ant-col-sm-24 ant-col-md-18">
                <div class="all-comment">

                    @foreach (var comment in listI2)
                    {
                        <h2 style="font-size: 14px">@comment.customer.customer_name</h2>
                        <p>@comment.content</p>

                    }
                </div>
            </div>
        </div>

        @*Comment*@
        <div align="start" class="ant-col ant-col-18 ant-col-xs-24 ant-col-sm-24 ant-col-md-18" style="align-items: center;">
            <div class="comment-area" style="display: flex; align-items: center;">
                <textarea id="" name="content" class="box-comment-area" placeholder="Xin mời để lại câu hỏi, CellphoneS sẽ trả lời trong 1h từ 8h - 22h mỗi ngày." rows="10" cols="3"></textarea>
            </div>
            <div class="comment-send"><button>Gửi</button></div>
        </div>


    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>


    
    $(document).ready(function () {
        

        $(".cta-mua-ngay").click(function () {
            var versionId = $(".detailProduct").attr("data-idPro");

            $.ajax({
                type: "POST",
                url: "/GioHang/AddProductAjax",
                data: { id: versionId },
                success: function (value) {
                    
                    $('#items-in-cart').text(value);

                }
            })
        })
        $(".comment-send").click(function () {
            var comment = $(".box-comment-area").val();
            var productId = $(".detailProduct").attr("data-idPro");
            $.ajax({
                type: "POST",
                url: "/Product/AddComment",
                data: { comment: comment, vsId: productId },
                success: function (value) {
                    location.reload();
                },
                error: function() {
                    alert("bạn chưa đăng nhập")
                }
            })
        })
      @* $(".item-color").click(function () {
            var versionId = $(this).attr("data-id");
            
            $.ajax({
                type: "GET",
                url: "/Product/Detail",
                data: { id: versionId },
                success: function (value) {
                    location.reload();*@
                    
@*
                }
            })
        })*@
    });

    
</script>

<script>

</script>
@**@<script>
        var slideIndex = 0;
        // showSlides(slideIndex);

       

        // // Next/previous controls
        function prevSlide(n) {
            showSlides(slideIndex += n);
        }

        // //auto show
        

        // // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
    }
    


        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("swiper-slide-duplicate");
            var dots = document.getElementsByClassName("swiper-slide-visible");
            if (n > slides.length) { slideIndex = 0 }
            if (n < 0) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex ].setAttribute("style", "display: flex");
            slides[slideIndex ].className += " active";
            dots[slideIndex ].className += " active";
        }

    </script>
