@model CellPhoneX.Models.product_version
@{ ViewBag.Title = "Detail";
                Layout = "~/Views/Shared/_Layout.cshtml";
                var listI = (List<product_version>)ViewBag.listProDetail; 
    }
@using CellPhoneX.Models
<link href="~/Content/DetailProduct.css" rel="stylesheet" />
<link href="~/Content/body.css" rel="stylesheet" />
<section class="cps-section">
    <div class="block-detail-product block-detail" data-idDetail="@Model.version_id">
        <div class="detail-product__box-name">
            <div class="cps-container">

                <div class="box-name__box-product-name">
                    <h1>
                        @Model.product.product_name
                    </h1>
                </div>
            </div>
        </div>
        <div class="box-detail-product cps-container detailProduct" data-idPro="@Model.version_id">
            <div class="detail-product__box-left">
                <div class="box-gallery">
                    <div class="swiper-container gallery-main swiper-container-initialized swiper-container-horizontal">
                        @*<img src="~/Content/images/@Model.image" />*@
                        <div id="product-mob-images" class="swiper-wrapper" >
                            @foreach (var item in listI)
                            {
                <div class="swiper-slide item-gallery swiper-slide-duplicate" data-swiper-slide-index="26" style="width: 400px; margin-right: 20px;">
                    <img class="swiper-lazy swiper-lazy-loaded" alt="" title="" src="~/Content/images/@item.image">
                </div>}


                        </div>
                        <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide">
                            <i class="fa fa-chevron-left"></i>
                        </div>
                        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide">
                            <i class="fa fa-chevron-right"></i>
                        </div>
                    </div>
                    <div class="swiper-container gallery-thumbs swiper-container-initialized swiper-container-horizontal swiper-container-free-mode swiper-container-thumbs">
                        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">

                            @foreach (var itim in listI)
                            {
                                <div class="swiper-slide item-thumb main-thumb disable swiper-slide-visible" style="margin-right: 10px;" onclick="currentSlide(@listI.IndexOf(itim))">
                                    <img class="swiper-lazy swiper-lazy-loaded" src="~/Content/images/@itim.image">
                                </div>}


                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-product__box-center" >
                <div class="box-info">
                    <div class="box-info__box-price">
                        <p class="special-price">@String.Format("{0:0,0}", Model.special_price) đ </p>
                        <p class="old-price">@String.Format("{0:0,0}", Model.price) đ </p>
                    </div>
                </div>
                <div class="box-linked">

                    <div class="list-linked">
                        @foreach (var item in listI)
                        {
            <a href="@Url.Action("Detail","Product", new {id = item.version_id })" class="item-linked linked-1">
                <strong>@item.memory_internal </strong>
                <span>@item.special_price</span>
            </a>}
                    </div>

                </div>
                <div class="product-options">
                    <div class="last">
                        <div class="box-product-option">
                            <div class="box-title">
                                <p class="box-title__title">Chọn màu để xem giá và chi nhánh có hàng</p>
                            </div>
                            <div class="box-content">
                                @*lay list để truyền các màu có cùng id product*@
                                <ul class="list-colors">
                                    @foreach (var itm in listI)
                                    {
                        <li class="item-color" data-id="@itm.version_id">
                            <a href="@Url.Action("Detail","Product", new { id = itm.version_id })" class="swatch-link ">
                                <img src="~/Content/images/@itm.image" class="cpslazy loaded" />
                                <p>
                                    <strong>@itm.color.color_name</strong>
                                    <span>@itm.special_price</span>
                                </p>
                            </a>
                        </li>}

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box-action-button">
                    <a class="action-button button-red cta-mua-ngay" href="">
                        <strong>
                            MUA
                            NGAY
                        </strong><span>(Giao tận nơi hoặc lấy tại cửa hàng)</span>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>


    
    $(document).ready(function () {
        

        $(".cta-mua-ngay").click(function () {
            var versionId = $(".detailProduct").attr("data-idPro");

            $.ajax({
                type: "POST",
                url: "/GioHang/AddProductAjax",
                data: { id: versionId },
                success: function (value) {
                    
                    $('#items-in-cart').text(value);

                }
            })
        })
      @* $(".item-color").click(function () {
            var versionId = $(this).attr("data-id");
            
            $.ajax({
                type: "GET",
                url: "/Product/Detail",
                data: { id: versionId },
                success: function (value) {
                    location.reload();*@
                    
@*
                }
            })
        })*@
    });

    
</script>

<script>

</script>
@**@<script>
        var slideIndex = 0;
        // showSlides(slideIndex);

       

        // // Next/previous controls
        function prevSlide(n) {
            showSlides(slideIndex += n);
        }

        // //auto show
        

        // // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
    }
    


        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("swiper-slide-duplicate");
            var dots = document.getElementsByClassName("swiper-slide-visible");
            if (n > slides.length) { slideIndex = 0 }
            if (n < 0) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex ].setAttribute("style", "display: flex");
            slides[slideIndex ].className += " active";
            dots[slideIndex ].className += " active";
        }

    </script>
