@model IEnumerable<CellPhoneX.Models.product_version>
@{
    ViewBag.Title = "ListProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/body.css" rel="stylesheet" />
<section class="cps-section">
    
    <div class="std">
        <div class="cps-container d-flex flex-column">
            <div class="block-products products-home mb-3 san-pham-noi-bat">
                <div class="box-title">
                    <a href="#" class="box-title__title">
                        <h2>ĐIỆN THOẠI</h2>
                    </a>                    
                </div>
                
                    <div class="box-product">
                        <div class="list-product">
                            @foreach (var item in Model)
                            {
                                <div class="item-product">
                                    <div class="item-product__box-img">
                                        <a href="@Url.Action("Detail","Product", new { id = item.version_id })" class="img-product">
                                            <img src="~/Content/images/@item.image" style="width: 100%; height:100%"/>
                                        </a>
                                    </div>
                                    <div class="item-product__sticker-percent">
                                        <p>Giảm @String.Format("{0:0,0}", ((item.price - item.special_price) / item.price) * 100) %</p>
                                    </div>
                                    <div class="item-product__box-name">
                                        <a href="#">
                                            <p>@item.product.product_name</p>
                                        </a>
                                    </div>
                                    <div class="item-product__box-price">
                                        <p class="special-price">@item.special_price đ</p>
                                        <p class="old-price">@item.price đ</p>
                                    </div>

                                </div>
                            }
                            </div>
                    </div>
                
            </div>
            <div class="block-banner-sis">
                <div class="box-title">
                    <p class="box-title__title" style="font-size: 1.3rem">CHUYÊN TRANG THƯƠNG HIỆU</p>
                </div>
                <div class="block-list-banner-sis">
                    <div class="list-banner-sis">
                        <a href="https://cellphones.com.vn/apple" class="item-banner-sis"><img class="cpslazy loaded" alt="Sản phẩm Apple chính hãng | Giá ưu đãi, thu cũ đổi mới" data-ll-status="loaded" src="https://cellphones.com.vn/media/icons/banner/banner-sis-apple-homepage.png"></a>
                        <a href="https://cellphones.com.vn/samsung" class="item-banner-sis"><img class="cpslazy loaded" alt="Mua Samsung chính hãng - Giá tốt nhất tại CellphoneS" data-ll-status="loaded" src="https://cellphones.com.vn/media/icons/banner/banner-sis-samsung-homepage.png"></a>
                        <a href="https://cellphones.com.vn/asus" class="item-banner-sis"><img class="cpslazy loaded" alt="Mua ASUS chính hãng - Giá tốt nhất tại CellphoneS" data-ll-status="loaded" src="https://cellphones.com.vn/media/icons/banner/banner-sis-asus-homepage.png"></a>
                        <a href="https://cellphones.com.vn/xiaomi" class="item-banner-sis"><img class="cpslazy loaded" alt="Mua Xiaomi chính hãng - Giá tốt nhất tại CellphoneS" data-ll-status="loaded" src="https://cellphones.com.vn/media/icons/banner/banner-sis-xiaomi-homepage.png"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

